body {
  padding-bottom: 50px;
}

.picture {
  padding: 10px;
}

.image {
  height: 250px;
  background: midnightblue;
}

.poke {
  font-weight: bold;
}

.chaser {
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: left 800ms ease-out, top 800ms ease-out;
}

.runner {
  width: 50px;
  height: 50px;
  background: green;
  border-radius: 50%;
}

.box {
  border: 1px solid grey;
  height: 350px;
  position: relative;
}

.carouselContainer {
  background: rgb(237, 234, 234);
  height: 400px;
  width:100%;
  padding: 0;
  overflow: hidden;
}

.title {
  font-size: 1.5em;
  margin-top: 100px;
  margin-bottom: 20px;
}

.lightMode {
  background: rgb(245, 245, 245);
  color: rgb(10, 10, 10);
}

.darkMode {
  background: rgb(10, 10, 10);
  color: rgb(245, 245, 245);
}

.bigTitle {
  font-size: 2.5em;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 47px;
  height: 50px;
  width: 50px;
  border: 1px solid grey;
  border-radius: 50%;
}

.mode:hover {
  cursor: pointer;
}

.slides {
  height: 400px;
  display: none;
  position: relative;
  /* overflow: hidden; */
}
 .slides p {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 4rem;
 }

img {
  /* object-fit: cover; */
  /* height: 400px; */
  width: 100%;
}

span#pidgeot{
    position: relative
}
span#pidgeot::after{
    content: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/18.svg);
    background-color: rgba(0, 0, 0, 0.646);
    zoom:20%;
    position: absolute;
    bottom: 100%;
    left: 0;
    padding:3em;
    border-radius: 12px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}
span#pidgeot:hover::after{
    transform: scale(1);
}

span#magikarp{
    position: relative
}
span#magikarp::after{
    content: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/129.svg);
    background-color: rgba(0, 0, 0, 0.646);
    zoom:20%;
    position: absolute;
    bottom: 100%;
    left: 0;
    padding:3em;
    border-radius: 12px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}
span#magikarp:hover::after{
    transform: scale(1);
}

span#farfetchd{
    position: relative
}
span#farfetchd::after{
    content: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/83.svg);
    background-color: rgba(0, 0, 0, 0.646);
    zoom:20%;
    position: absolute;
    bottom: 100%;
    left: 0;
    padding:3em;
    border-radius: 12px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}
span#farfetchd:hover::after{
    transform: scale(1);
}

span#slowpoke{
    position: relative
}
span#slowpoke::after{
    content: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/79.svg);
    background-color: rgba(0, 0, 0, 0.646);
    zoom:20%;
    position: absolute;
    bottom: 100%;
    left: 0;
    padding:3em;
    border-radius: 12px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}
span#slowpoke:hover::after{
    transform: scale(1);
}

.vaag {
  animation: vaag 2.3s;
}

@keyframes vaag {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}